/*ОБНУЛЕНИЕ*/
*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,body{
	background: #000;
	margin: 0px auto;
	padding: 0px 20px;
	text-align: justify;
}

/*MENU*/
.menu{
	position: fixed;
	margin: 0px auto;
	width: 100%;
	background-color: #000;
}
.menu ul{list-style: none;}
.menu > ul{display: flex;justify-content: center;}
.menu > ul li a{
	display: block;
	padding: 15px 30px 15px 30px;
	font-size: 18px;
	color: #999999;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.7s ease 0s;}
.menu li a:hover{
	color: #fff;
	box-shadow: 0px 0px 15px -3px #F51616;
	transition: all 0.7s ease;
}
.menu li ul{
	position: absolute;
	min-width: 150px;
	background-color: #000;
	display: none;
}
.menu li ul a{font-size: 10px;padding: 10px 20px 10px 30px;}
.menu li:hover > ul{display: block;transition: display 0.5s ease 0s;}

/*CONTENT*/
.content{padding: 47px 0px 0px 0px;}
.h1 {
	padding: 20px 0px ;
	text-align: center;
	font-size: 40px;
	color:#fff;
	background-color: #000;
}
.header-img {text-align: center;margin: 0 0px 40px 0px;}
.header-img img{width: 100%;}
.content__part{
	margin: 20px 0px;
	display: grid;
	grid-template-columns:repeat(3, 1fr);
	gap: 20px;
}
.ssi{
	grid-column-start: span 3;
}
.content__part-text{
	margin: 20px 0px;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	gap: 20px;
}
.h2{
	color: #FA9300;
	font-size: 30px;
	text-align: center;
	margin: 20px 20px 0px 20px;
	padding: 10px 0px ;
	border-top: 1px solid #b2b2b2;
}
/*INTRODUCTION*/
.content__text{
	background-color: #111;
	padding: 15px 20px 20px 20px;
	margin: 20px;
	border-radius: 30px;
	transition: all 0.5s ease;
}

.content__text:hover{box-shadow: 0px 0px 20px 0px #E74926;transition: all 0.7s ease 0s;}
.text{
	color: #ccc;
	padding: 15px 0px 0px 0px;
	text-align: center;
	font-size: 30px;
	transition: all 0.5s ease;
}
.text:hover{color: #f1f3f4;transition: all 0.5s ease;}
.h3{
	color:#5F9EA0;
	text-align: center;
	font-size: 30px;
	border-bottom: 1px solid #999;
	padding: 10px 15px 10px 15px;
	margin: 0px 10px;
}
/*.specifications*/
/*INTEL AHD AMD*/

.header__text{
	color: #f1f3f4;
	margin: 20px 20px 40px 20px;
	padding: 0px 20px;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
}
.tab{margin: 50px 20px;padding-top: 10px;}
.tabs-triggers{margin: 0px 50px;	transform: translate(0px, -25px);}
.tabs-triggers_item{
	color: #f1f3f4;
	text-align: center;
	padding: 20px 50px;
	margin: 20px;
	text-decoration: none;
	flex-grow: 1;	
	transition: all 0.5s ease 0s;
	background-color: #000;
	font-size: 25px;
}
.tabs-triggers_item-active{
	background-color: #000;
	text-align: center;
	color: #cccccc;
	font-size: 25px;
	box-shadow: 0px 0px 15px -3px #E80000; 
	transition: all 0.7s ease 0s;
	border-radius: 30px;
}
.tabs-content_item{
	display: none;
	padding: 20px;
	text-align: center;
	color: #f1f3f4;
	background-color: #000;
	border-radius: 30px;
}
.tabs-content_item-active{display: block;}
/*Intel*/

.intel__text{
	padding: 10px;
	font-size: 30px;
}
.Intels-triggers{display: flex;
flex-wrap: wrap;}
.Intels-triggers_item{
	color: #f1f3f4;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	flex-grow: 1;	
	background-color:#1c1c1c;
	border-radius: 30px;
	transition: all 0.7s ease 0s;
}

.Intels-triggers_item-active{
	background-color: #000;
	box-shadow: 0px 0px 15px -3px red; 
	transition: all 0.7s ease 0s;
	border-radius: 30px;
	color: #f1f3f4;
	transform: scale(0.8, 0.8);
}

.Intels-content_item{
	display: none;
	background-color: #000;
	text-align: center;
	transform: translate(0px, 10px);
}


.Intels-content_item-active{display: block;}
/*FOOTER*/
.footer{
	height: 70px;
	color: #CCCCCC;
	text-align: center;
	font-size: 18px;
}
@media (max-width: 1440px){
	.content__part-text, .content__part{
		grid-template-columns: 1fr;
	}
	.ssi{
		grid-column-start: span 1;
	}
	.intel__text, .header__text, .text, .h2, .h3{
		font-size: 20px;
	}
}
@media (max-width: 700px){
	body{
		padding: 0px 5px;
	}
	.menu > ul li a{
		font-size: 7px;
		padding: 5px 10px;
	}
	.content__part{
		margin: 0px;
	}
	.content__text{
		margin: 5px 0px;
	}
	.intel__text, .header__text, .text{
		font-size: 10px;
		line-height: 12px ;
		margin: 5px;
	}
	.tabs_c
	.h2, .h3 {
		font-size: 20px;
	}
	.tabs-triggers_item, .Intels-triggers_item{
		padding: 5px;
		font-size: 10px;

	}
}